:root{
    --gridGap: 15px; 
    --navbarPadding: 20px; 
    --clrBackground: #ffffff;
    --clrPrimary: #0097e6; 
    --clrSecondary: #f90909; 
    --navbarFontSize: 1.3rem; 
    --homeBodyMargin: 8rem;
    --defaultPadding: 1.5rem; 
    --defaultColumns: auto auto auto; 
    --defaultGridGap: 2rem; 
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.4rem;
    color: #393a3d;
    font-weight: 400;
    font-family: avenir,helvetica,sans-serif;
}

a{
    color: var(--clrBackground); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1{
    font-size: 1.5rem;
    font-weight: 600; 
    margin:0px;
}

.navbarContainer{
    display:grid; 
    grid-template-columns: auto auto; 
    grid-column-gap: var(--gridGap); 
    text-align: center; 
    padding: var(--navbarPadding); 
    color: var(--clrBackground); 
    background-color: var(--clrPrimary); 
    font-size: var(--navbarFontSize); 
}

.navbarIconContainer{
    text-align: right; 
    padding: 8px 0px; 
}

.navbarTextContainer {
    padding-top: 2px;
    text-align: left;
    padding: 15px 0px;
}

.otherNavbarContainer{
    background-color: var(--clrBackground); 
    border-bottom: 1px solid #d4d7dc;
    display: grid;
    grid-template-columns: 5% 83% 12%; 
    padding: 10px 40px; 
    padding-bottom: 0px; 
}

.otherNavbarContainer ul{
    margin: 0px; 
}

.otherNavbarContainer ul li{
    margin-left: 40px;
    padding: 0px;
    padding-bottom: 0px;
    font-size: 19px;
    display: inline-block;
    cursor: pointer;
    position: relative; 
    vertical-align: middle; 
    height: 100%; 
    padding-top:25px; 
}

.otherNavbarContainer ul li:after{
    content:""; 
    opacity: 0; 
    border-bottom: 8px solid var(--clrSecondary); 
    width: 100%; 
    position: absolute; 
    left: 0px; 
    bottom: 25px; 
    transition: opacity .5s; 
}

.otherNavbarContainer ul li:hover:after{
    opacity:1; 
}

.signInBtn {
    color: #0097E6;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 10px;
}

.signInBtn:hover{
    background-color: #0097e652;
}

.homeBody{
    margin: 0px var(--homeBodyMargin)
}

.prettyGrid{
    margin: 60px 0px; 
    display:grid;
    grid-template-columns: 45% 55%; 
}

.prettyGridCaption{
    padding: var(--defaultPadding); 
    padding-left:0px; 
    color: var(--clrPrimary); 
    letter-spacing: 2.5px; 
    text-transform: uppercase; 
}

.prettyGridPunchline{

}

.prettyImage{
    object-fit: cover; 
    width:100%; 
    max-height: 100vh; 
    vertical-align: middle; 
}

.loginBox{
    margin: var(--defaultPadding) 0px;
    padding: var(--defaultPadding) calc(3*var(--defaultPadding)); 
    display: grid; 
    grid-template-columns: auto auto; 
    grid-column-gap: calc(3*var(--defaultPadding)); 
    border-style: solid;
    border-width: 1px;
    border-radius: 5px; 
    border-color: #c1c5c8; 
}

.logoGrid{
    display: grid; 
    grid-template-columns: auto auto; 
}

.logoInit{
    padding-top: var(--defaultPadding); 
    font-weight: bold; 
    font-size: 2rem; 
}

.logoList div{
    display:inline-block; 
    padding:0px;
    font-size: .8em; 
}

.loginContainerTextRow {
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #393A3D;
    line-height: 1.1;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center; 
}

.signInForms {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
}

/*
.signInForms div{
    justify-content: center;
}*/ 

.signInForms input{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #c1c5c8;
    width: 100%;
    padding: 5px;
    padding-top: 8px;
    margin: 0;
    box-sizing: border-box;
    font-size: .8em; 
}

.fullRow {
    grid-column: span 3 / auto;
    display: flex;
    padding: 10px 0px;
}

.signInBtnContainer{
    padding:0px;
    border-style:hidden; 
}

.signInBtn2{
    font-size: 1.3rem; 
    vertical-align: middle; 
    text-align: center; 
    color: var(--clrBackground); 
    cursor: pointer;
    background-color: var(--clrPrimary); 
    border-color: var(--clrPrimary); 
    display: flex;
    width: 100%;
    height: 100%; 
    border-style: solid;
    border-width: 0px;
    border-radius: 5px; 
    margin: 0px; 
}

.disclaimer {
    font-size: .7rem;
    font-style: italic;
    color: #757575;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-align: left;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    border-style: hidden;
}

.checkbox {
    height: 20px;
    width: 20px; 
    margin: 0px;
}

.signInForms .checkbox{
    width: 20px; 
}

.rememberMe {
    font-size: 1rem;
    padding: 5px;
    font-weight: normal;
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
}

.disclaimer a, .fullRow a{
    cursor: pointer;
    color: var(--clrPrimary); 
}

.spaceMe{
    padding: 0px 5px; 
}

.imageGrid{
    display:grid; 
    grid-template-columns: var(--defaultColumns); 
    grid-column-gap: var(--defaultGridGap);
}

.tile{
    text-align: center;
    border-radius: 5px; 
}

.tileTitle{
    padding-top: 2rem; 
    padding-bottom: 1rem;
    color: var(--clrBackground); 
    font-size: 1.4rem; 
    font-weight: 500; 
    margin: 0px; 
}

.startForFree {
    font-size: .58em;
    color: var(--clrPrimary); 
    margin-bottom: 2rem;
}

.startForFree a {
    text-decoration: underline;
    cursor: pointer;
}

.tileImg {
    display: block;
    width: 60%;
    height: auto;
    padding-left: 20%;
    padding-right: 20%;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-radius: 5px;
    border-bottom-color: #c1c5c8;
}

.footer {
    margin-top: 70px;
    min-height: 380px;
    padding: 48px 0;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient( 265deg,#00c1bf,#055393 117%);
    font-size: 1.4rem;
    color: #393a3d;
    font-weight: 400;
    font-family: avenir,helvetica,sans-serif;
}